{% macro idebar(
    blog_title,
    content,
    meta_description,
    meta_keywords,
    featured_image,
    status,
    publish_time,
    slug,
    categories,
    blog_tags,
    author,
    save,
    publish,
    preview,
    delete,
    word_count
) %}

<p> Sidebar </p>

{% endmacro %}